<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured Application page!</h1>
    <div th:if="${param.quantityError}" class="alert alert-danger">
        Invalid quantity.
    </div>
    <div th:if="${param.professionError}" class="alert alert-danger">
        Invalid profession.
    </div>
    <div th:if="${param.finalizeError}" class="alert alert-danger">
        Application doesn't meet requirements.
    </div>
    <form th:action="@{__${#httpServletRequest.requestURI}__?save}" th:method="POST">
        <label>Profession:
            <input type="text" list="profession" name="profession" th:value="${app.profession}">
            <datalist id="profession" type="text" name="profession">
                <option th:each="profession : ${availableProfessions}" th:value="${profession}"></option>
            </datalist>
        </label>
        <label>Quantity:<input type="text" name="quantity" th:value="${app.quantity}"></label>

        <label>Employment type:
            <label><input type="radio" name="employmentType" th:value="'FULL_TIME'"
                          th:checked="${app.employmentType.name()} == 'FULL_TIME'">full-time</label>
            <label><input type="radio" name="employmentType" th:value="'PART_TIME'"
                          th:checked="${app.employmentType.name()} == 'PART_TIME'">part-time</label>
        </label>
        <label>Salary per month:<input type="text" name="salaryCuPerMonth" th:value="${app.salaryCuPerMonth}"></label>
        <label>Demanded skills:<textarea name="demandedSkills" th:value="${app.demandedSkills}"></textarea></label>
        <input type="submit" value="Create">
    </form>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>

</body>
</html>