
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:if="!${param.edit}">
        <h1 th:text="${candidate.name}"></h1>
        <h2 th:text="${candidate.email}"></h2>
        <p th:text="'Profession: ' + ${candidate.profession.isEmpty() ? 'not important' : candidate.profession}"></p>
        <p th:text="'Employment type: ' + (${candidate.employmentType.name() == 'NOT_IMPORTANT' ? 'not important' :
                                             candidate.employmentType.name() == 'FULL_TIME' ? 'full-time' : 'part-time'})"></p>
        <p th:text="'Required salary: ' + ${candidate.requiredSalaryCuPerMonth}"></p>
        <p th:text="'Experience: ' + ${candidate.experience}"></p>
        <p th:text="'Skills: ' + ${candidate.skills}"></p>
        <a th:href="@{__${#httpServletRequest.requestURI}__?edit}" th:text="Edit" ></a>
    </div>
    <form th:if="${param.edit}" th:action="@{__${#httpServletRequest.requestURI}__?save}" method="POST">
        <label>Email:<input type="text" name="email" th:value="${candidate.email}"></label>
        <label>Name:<input type="text" name="name" th:value="${candidate.name}"></label>
        <label>Profession:<input type="text" name="profession" th:value="${candidate.profession}"></label>
        <label>Employment type:
            <label><input type="radio" name="employmentType" th:value="'NOT_IMPORTANT'"
                          th:checked="${candidate.employmentType.name()} == 'NOT_IMPORTANT'">not important</label>
            <label><input type="radio" name="employmentType" th:value="'FULL_TIME'"
                          th:checked="${candidate.employmentType.name()} == 'FULL_TIME'">full-time</label>
            <label><input type="radio" name="employmentType" th:value="'PART_TIME'"
                          th:checked="${candidate.employmentType.name()} == 'PART_TIME'">part-time</label>
        </label>
        <label>Required salary per month:<input type="text" name="requiredSalaryCuPerMonth" th:value="${candidate.requiredSalaryCuPerMonth}"></label>
        <label>Experience:<textarea name="experience" th:value="${candidate.experience}"></textarea></label>
        <label>Skills:<input type="text" name="skills" th:value="${candidate.skills}"></label>
        <input type="submit" value="Save">
    </form>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>