<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured AGENT page!</h1>
    <ul th:id="apps">
        <li th:each="app,status : ${agent.applications}">
            <th:block th:replace="agent/application_item :: application"></th:block>
        </li>
    </ul>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
    <script>
		$(function() {
            $( "#apps" ).sortable({
                update: function(event, ui) {
                    $('#newIndex').val(ui.item.index());
                    $('#reorderApplications').submit();
                },
                start: function(event, ui) {
                    $('#prevIndex').val(ui.item.index())
                }
            });
            $( "#apps" ).disableSelection();
            $('#reorderApplications').on('submit', function() {
                        $.ajax({
                            url: "/agent/reorderApplications",
                            type: "POST",
                            data: $('#reorderApplications').serialize()
                        });
                        return false;
                    });
        });
    </script>
    <form id="reorderApplications" action="/agent/reorderApplications" method="POST">
        <input type="hidden" id="prevIndex" name="prevIndex" value="0"/>
        <input type="hidden" id="newIndex" name="newIndex" value="0"/>
    </form>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>