<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
    <div th:if="${param1.usernameError}">
        <div class="alert alert-danger">
            This username is already taken.
        </div>
    </div>
    <div th:if="${param1.emailError}">
        <div class="alert alert-danger">
            Wrong email entered.
        </div>
    </div>
    <div th:if="${param1.passwordError}">
        <div class="alert alert-danger">
            Passwords don't match.
        </div>
    </div>
    <div th:if="${param1.professionError}">
        <div class="alert alert-danger">
            Profession wasn't found. You can leave it empty though.
        </div>
    </div>
    <div th:if="${param1.quantityError}">
        <div class="alert alert-danger">
            Quantity value is wrong.
        </div>
    </div>
    <div th:if="${param1.success}">
        <div class="alert alert-info">
            You successfully registered
        </div>
    </div>

    <a href="/user" th:href="@{/user}">Enter</a>
    <div>
        <form action="/registerCandidate" method="POST">
            <label>Username:<input type="text" name="username" th:value="${candidateRegistrationForm.username}"></label>
            <label>Email:<input type="text" name="email" th:value="${candidateRegistrationForm.email}"></label>
            <label>Name:<input type="text" name="name" th:value="${candidateRegistrationForm.name}"></label>
            <label>Password:<input type="password" name="password" th:value="${candidateRegistrationForm.password}"></label>
            <label>Confirm password:<input type="password" name="confirmPassword" th:value="${candidateRegistrationForm.confirmPassword}"></label>

            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <form action="/registerEnterprise" method="POST">
            <label>Username:<input type="text" name="username" th:value="${enterpriseRegistrationForm.username}"></label>
            <label>Email:<input type="text" name="email" th:value="${enterpriseRegistrationForm.email}"></label>
            <label>Name:<input type="text" name="name" th:value="${enterpriseRegistrationForm.name}"></label>
            <label>Contact name:<input type="text" name="name" th:value="${enterpriseRegistrationForm.contactPersonName}"></label>
            <label>Password:<input type="password" name="password" th:value="${enterpriseRegistrationForm.password}"></label>
            <label>Confirm password:<input type="password" name="confirmPassword" th:value="${enterpriseRegistrationForm.confirmPassword}"></label>
            <label>Profession:<input type="text" name="profession" th:value="${applicationRegistrationForm.profession}"></label>
            <label>Quantity:<input type="text" name="quantity" th:value="${applicationRegistrationForm.quantity}"></label>
            <input type="submit" value="Register">
        </form>
    </div>
</div>
</body>
</html>