<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured Application page!</h1>
    <div th:if="${param.quantityError}" class="alert alert-danger">
        Invalid quantity.
    </div>
    <div th:if="${param.professionError}" class="alert alert-danger">
        Invalid profession.
    </div>
    <div th:if="${param.finalizeError}" class="alert alert-danger">
        Application doesn't meet requirements.
    </div>
    <a th:href="@{/agent/application/} + (${applicationIndex} + 1) + '/enterprise'" th:text="${enterprise.name}"></a>
    <form th:if="${param.edit}" th:action="@{__${#httpServletRequest.requestURI}__?save}" th:method="POST">
        <input type="text" th:name="profession" th:value="${app.profession}">
        <input type="text" th:name="quantity" th:value="${app.quantity}">
        <textarea th:name="agentNote" th:text="${app.agentNote}"></textarea>
        <input type="submit" value="Save">
    </form>
    <div th:if="!${param.edit}">
        <p th:text="${app.profession}"></p>
        <p th:text="${app.quantity}"></p>
        <p th:text="${app.agentNote}"></p>
        <div>
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#applicants-wrapper">applicants</a>
                </div>
            </div>
            <div id="applicants-wrapper" th:aria-expanded="!${app.agentCollapsedApplicants}"
                 th:class="'collapse' + (${app.agentCollapsedApplicants} ? '' : ' in')">
                <ul th:class="'applicants' + (${applicationIndex} + 1)">
                    <li th:each="candidate, candidateStatus : ${app.applicants}"  th:if="!(${candidate.applicantStage.name().contains('FAILED')})">
                        <div th:replace="agent/candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <a th:href="@{__${#httpServletRequest.requestURI}__?edit}" th:text="Edit" ></a>
        <div>
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#denied-applicants-wrapper">denied</a>
                </div>
            </div>
            <div id="denied-applicants-wrapper" aria-expanded="false" class="collapse">
                <ul th:class="'applicants' + (${applicationIndex} + 1)">
                    <li th:each="candidate, candidateStatus : ${app.applicants}"  th:if="(${candidate.applicantStage.name().contains('FAILED')})">
                        <div th:replace="agent/candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div th:if="${possibleApplicants != null}">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#candidates-wrapper">possible applicants</a>
                </div>
            </div>
            <div id="candidates-wrapper" aria-expanded="true" class="collapse in">
                <ul>
                    <li th:each="candidate, candidateStatus : ${possibleApplicants}">
                        <div th:replace="agent/candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <form th:if="${possibleApplicants == null}" th:action="@{/agent/application/} + (${applicationIndex} + 1) + '/possibleApplicants'" method="GET">
            <input type="submit" value="Get possible applicants">
        </form>
        <form th:action="@{/agent/application/} + (${applicationIndex} + 1) + '/finalizeApplication'" method="POST">
            <input type="submit" value="Finalize">
        </form>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
    <form th:id="'reorderApplicants' + (${applicationIndex} + 1)"
          th:action="'agent/application/' + (${applicationIndex} + 1) + '/reorderApplicants'"
          method="POST">
        <input type="hidden" id="prevIndex" name="prevIndex" value="0"/>
        <input type="hidden" id="newIndex" name="newIndex" value="0"/>
    </form>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js/}"></script>
    <script th:inline="javascript">
        //reorder applicants of application
        $(function() {
		    var listId = /*[['.applicants' + (${applicationIndex} + 1)]]*/;
		    var formId = /*[['#reorderApplicants' + (${applicationIndex} + 1)]]*/;
		    var mUrl = /*[['/agent/application/' + (${applicationIndex} + 1) + '/reorderApplicants']]*/
		    $(listId).sortable({
                update: function(event, ui) {
                    $("#newIndex").val(ui.item.index());
                    $(formId).submit();
                },
                start: function(event, ui) {
                    $("#prevIndex").val(ui.item.index())
                }
		    });
            $(listId).disableSelection();
            $(formId).on('submit', function() {
                        $.ajax({
                            url: mUrl,
                            type: "POST",
                            data: $(formId).serialize()
                        });
                        return false;
                    });
        });
    </script>
    <script th:inline="javascript">
        //collapse applicants list
        $(function(){
                var applicationId = '#applicants-wrapper';
                var mUrl = /*[['/agent/application/' + (${applicationIndex} + 1) + '/agentCollapseApplicants']]*/;
                $(applicationId).on('hidden.bs.collapse', function() {
                    $.ajax({
                        url: mUrl,
                        type: "POST",
                        data: "collapsed=1"
                    });
                });
                $(applicationId).on('shown.bs.collapse', function() {
                    $.ajax({
                        url: mUrl,
                        type: "POST",
                        data: "collapsed=0"
                    });
                });
            });
    </script>
</div>

</body>
</html>