<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured Application page!</h1>
    <div th:if="${param.quantityError}">
        <div class="alert alert-danger">
            Invalid quantity.
        </div>
    </div>
    <a th:href="@{/agent/application/} + (${applicationIndex} + 1) + '/enterprise'" th:text="${enterprise.name}"></a>
    <form th:if="${param.edit}" th:action="@{__${#httpServletRequest.requestURI}__?save}" th:method="POST">
        <input type="text" th:name="profession" th:value="${app.profession}">
        <input type="text" th:name="quantity" th:value="${app.quantity}">
        <textarea th:name="agentNote" th:text="${app.agentNote}"></textarea>
        <input type="submit" value="Save">
    </form>
    <div th:if="!${param.edit}">
        <p th:text="${app.profession}"></p>
        <p th:text="${app.quantity}"></p>
        <p th:text="${app.agentNote}"></p>
        <ul class="#">
            <li th:each="candidate, candidateStatus : ${app.applicants}">
                <div th:replace="agent/candidate_item :: candidate"></div>
            </li>
        </ul>
        <a th:href="@{__${#httpServletRequest.requestURI}__?edit}" th:text="Edit" ></a>
    </div>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>

</body>
</html>