<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div th:if="${param.quantityError}" class="alert alert-danger">
        Invalid quantity.
    </div>
    <div th:if="${param.professionError}" class="alert alert-danger">
        Invalid profession.
    </div>
    <div th:if="${param.finalizeError}" class="alert alert-danger">
        Application doesn't meet requirements.
    </div>
    <div class="panel-heading">
        <div>
            <a th:href="@{/agent/application/} + (${applicationIndex} + 1) + '/enterprise'" th:text="${app.enterprise.name}"></a>
        </div>
    </div>
    <p th:text="${app.enterprise.contactPersonName}"></p>
    <form th:if="${param.edit}" th:action="@{__${#httpServletRequest.requestURI}__?save}" th:method="POST">
        <label>Profession:
            <input type="text" name="profession" list="profession" th:value="${app.profession}">
            <datalist id="profession" type="text" name="profession">
                <option th:each="profession : ${availableProfessions}" th:value="${profession}"></option>
            </datalist>
        </label>
        <label>Quantity:<input type="text" name="quantity" th:value="${app.quantity}"></label>
        <label>Notes:<textarea th:name="agentNote" th:text="${app.agentNote}"></textarea></label>

        <label>Employment type:
            <label><input type="radio" name="employmentType" th:value="'FULL_TIME'"
                          th:checked="${app.employmentType.name()} == 'FULL_TIME'">full-time</label>
            <label><input type="radio" name="employmentType" th:value="'PART_TIME'"
                          th:checked="${app.employmentType.name()} == 'PART_TIME'">part-time</label>
        </label>
        <label>Salary per month:<input type="text" name="salaryCuPerMonth" th:value="${app.salaryCuPerMonth}"></label>
        <label>Demanded skills:<textarea name="demandedSkills" th:value="${app.demandedSkills}"></textarea></label>
        <input type="submit" value="Save">
    </form>
    <div th:if="!${param.edit}">
        <p th:text="${app.profession}"></p>
        <p th:text="${app.quantity}"></p>
        <p th:text="'Notes: ' + ${app.agentNote}"></p>
        <p th:text="'Employment type: ' + ${app.employmentType.name() == 'FULL_TIME' ? 'Full-time' : 'Part-time'}"></p>
        <p th:text="'Salary per month: ' + ${app.salaryCuPerMonth}"></p>
        <p th:text="'Demanded skills: ' + ${app.demandedSkills}"></p>
        <div class="application-item-center-button">
            <a th:href="@{__${#httpServletRequest.requestURI}__?edit}" th:text="Edit" ></a>
        </div>
        <div>
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#applicants-wrapper">applicants</a>
                </div>
            </div>
            <div id="applicants-wrapper" th:aria-expanded="!${app.agentCollapsedApplicants}"
                 th:class="'collapse' + (${app.agentCollapsedApplicants} ? '' : ' in')">
                <ul th:class="'applicants' + (${applicationIndex} + 1)">
                    <li th:each="candidate, candidateStatus : ${app.applicants}"  th:if="!(${candidate.applicantStage.name().contains('FAILED')})">
                        <div th:replace="agent/candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#denied-applicants-wrapper">denied</a>
                </div>
            </div>
            <div id="denied-applicants-wrapper" aria-expanded="false" class="collapse">
                <ul th:class="'applicants' + (${applicationIndex} + 1)">
                    <li th:each="candidate, candidateStatus : ${app.applicants}"  th:if="(${candidate.applicantStage.name().contains('FAILED')})">
                        <div th:replace="agent/candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div th:if="${app.possibleApplicants != null}">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" href="#possible-applicants-wrapper">possible applicants</a>
                </div>
            </div>
            <div id="possible-applicants-wrapper" aria-expanded="true" class="collapse in">
                <ul>
                    <li th:each="candidate, candidateStatus : ${app.possibleApplicants}">
                        <div th:replace="agent/possible_candidate_item :: candidate"></div>
                    </li>
                </ul>
            </div>
        </div>
        <a th:if="${app.possibleApplicants == null}" th:href="@{/agent/application/} + (${applicationIndex} + 1) + '/possibleApplicants'">Get possible applicants</a>
        <div class="application-item-center-button">
            <form th:action="@{/agent/application/} + (${applicationIndex} + 1) + '/finalizeApplication'" method="POST">
                <input type="submit" value="Finalize">
            </form>
        </div>
    </div>
    <form th:id="'reorderApplicants' + (${applicationIndex} + 1)"
          th:action="'agent/application/' + (${applicationIndex} + 1) + '/reorderApplicants'"
          method="POST">
        <input type="hidden" id="prevIndex" name="prevIndex" value="0"/>
        <input type="hidden" id="newIndex" name="newIndex" value="0"/>
    </form>
    <script th:inline="javascript">
        //reorder applicants of application
        $(function() {
		    var listId = /*[['.applicants' + (${applicationIndex} + 1)]]*/;
		    var formId = /*[['#reorderApplicants' + (${applicationIndex} + 1)]]*/;
		    var mUrl = /*[['/agent/application/' + (${applicationIndex} + 1) + '/reorderApplicants']]*/
		    $(listId).sortable({
                update: function(event, ui) {
                    $("#newIndex").val(ui.item.index());
                    $(formId).submit();
                },
                start: function(event, ui) {
                    $("#prevIndex").val(ui.item.index())
                },
                handle: '.sortable-handle'
		    });
            $(formId).on('submit', function() {
                        $.ajax({
                            url: mUrl,
                            type: "POST",
                            data: $(formId).serialize()
                        });
                        return false;
                    });
        });
    </script>
    <script th:inline="javascript">
        //collapse applicants list
        $(function(){
                var applicationId = '#applicants-wrapper';
                var mUrl = /*[['/agent/application/' + (${applicationIndex} + 1) + '/agentCollapseApplicants']]*/;
                $(applicationId).on('hidden.bs.collapse', function() {
                    $.ajax({
                        url: mUrl,
                        type: "POST",
                        data: "collapsed=1"
                    });
                });
                $(applicationId).on('shown.bs.collapse', function() {
                    $.ajax({
                        url: mUrl,
                        type: "POST",
                        data: "collapsed=0"
                    });
                });
            });
    </script>
</div>

</body>
</html>