<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:if="!${param.edit}">
        <h1 th:text="${enterprise.name}"></h1>
        <h2 th:text="${enterprise.email}"></h2>
        <a th:href="@{__${#httpServletRequest.requestURI}__?edit}" th:text="Edit" ></a>
    </div>
    <form th:if="${param.edit}" th:action="@{__${#httpServletRequest.requestURI}__?save}" method="POST">
        <input type="text" th:name="name" th:value="${enterprise.name}">
        <input type="text" th:name="email" th:value="${enterprise.email}">
        <input type="submit" value="Save">
    </form>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
</div>
</body>
</html>